* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a2640;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}

.container {
    background-color: white;
    margin: 1rem auto;
    width: 60%;
    border-radius: 2rem;
    padding: 2rem;
}

.input-word {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-word input {
    padding: 1em 0em 0em;
    border: none;
    width: 70%;
    outline: none;
    font-size: 1.1rem;
    border-bottom: 0.3rem solid #0a2640;
}

.input-word button {
    width: 25%;
    background: linear-gradient(0deg, #0a2640 50%, #65e4a3 100%);
    font-weight: bolder;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}

.input-word button:hover {
    background: linear-gradient(90deg, #0a2640 50%, #65e4a3 100%);
}

.answer {
    position: relative;
}

.answer h3 {
    font-size: 2.5rem;
    color: #0a2640;
    margin: 0em 1em;
}

.answer small {
    color: #0a2640;
    padding: 2em;
}

.weather-icon {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.result-element {
    padding: 2em;
}

.cloud,
.condition,
.humidity,
.temp,
.latitude,
.longitude,
.date-n-time {
    margin-top: 0.5em;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    background-color: #0a2640;
    color: white;
    padding: 0.5em;
}

.cloud-result {
    align-self: flex-end;
}

.error {
    text-align: center;
    margin-top: 1em;
    border: 0.05em solid red;
    font-size: 1rem;
}

/* For screens 900px screen resolution */
@media screen and (max-width: 900px) {
    .container {
        width: 90%;
    }

    .cloud,
    .condition,
    .humidity,
    .temp,
    .latitude,
    .longitude,
    .date-n-time {
        margin-top: 0.5em;
        font-size: 1.3rem;
        margin-right: 2em;
    }
}

/* For screens 1200px screen resolution */

@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

/* For screens 600px screen resolution and below */

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 0.5em;
    }

    .answer {
        width: 100%;
    }

    .result-element {
        padding: 0em;
    }

    .cloud,
    .condition,
    .humidity,
    .temp,
    .latitude,
    .longitude,
    .date-n-time {
        margin-right: 2em;
        font-size: 1rem;
        border-bottom: 0.2em solid #65e4a3;
    }
}